:root {
    --first-color: #001F52;
    --second-color:#002F7A;
    --third-color: #85B4FF;
    --fourth-color:#FFD35C;
    --fifth-color: #EDDDD4;
    --sixth-color: #001B2E;
    --seventh-color: #2374AB;
    --eighth-color: #E56B6F;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: var(--first-color);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    justify-content: center;
    margin-top: 4em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 300px;
    background-color: var(--second-color);
    border-radius: 10px;
    padding: 2em;
    gap: 3em;
    box-shadow: 1px 3px 6px 3px #001029;
}

.playerSelectHeader,
.selectionHeader,
.difficultyText {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--third-color);
    padding: 0;
    margin: 0em;
}

.playerSelectGroup,
.markerGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1em;    
}

.playerSwitch {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--first-color);
    width: 100%;
    height: 60px;
    margin: 0em 1em;
    border-radius: 10px;
  }

.onePlayer,
.twoPlayer {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border: solid 1px var(--third-color);
    z-index: 2;
}

.onePlayer {
    border-radius: 10px 0px 0px 10px;
}

.twoPlayer {
    border-radius: 0px 10px 10px 0px;
}

.onePlayer svg,
.twoPlayer svg {
    height: 40px;
    width: 40px;
}

#onePlayer path {
    fill: var(--first-color);
    stroke: var(--first-color);
}

.playerSelector {
    pointer-events: none;
    position: absolute;
    background-color: var(--third-color);
    height: 100%;
    width: 50%;
    top: 0px;
    left: 0px;
    border-radius: 10px 0px 0px 10px;
    z-index: 1;
}

.markerSwitch {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--first-color);
    height: 100px;
    width: 100%;
    margin: 0em 1em;
    border-radius: 10px;
  }

.marker {
    height: 100px;
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#xSvg,
#oSvg {
    height: 100px;
    width: 100px;
}

.xPath,
.oPath {
    height: 75px;
    width: 75px;
}

#xSvgHover,
#oSvgHover {
    cursor: pointer;
    visibility: hidden;
    height: 100px;
    width: 100px;
}

#xSvgHover path,
#oSvgHover path {
    stroke: var(--fourth-color);
    fill: var(--first-color);
}

#oSvgHover path {
    stroke-width: .25;
}

.cell:hover #xSvgHover,
.cell:hover #oSvgHover{
    visibility: visible;
}

.markerSelector {
    pointer-events: none;
    position: absolute;
    background-color: var(--third-color);
    transition: 600ms;
    height: 100px;
    width: 150px;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    z-index: 1;
}

path {
    fill: var(--third-color);
    stroke: var(--third-color);
}

#x path {
    transition: 600ms;
    fill: var(--first-color);
    stroke: var(--first-color);
}

#o path {
    transition: 600ms;
}

.startButton {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: var(--first-color);
    background-color: var(--fourth-color);
    height: 3em;
    width: 8em;
    font-size: 1em;
    box-shadow: 1px 3px 3px 1px var(--first-color);
}

.startButton:active,
.startButton:focus {
    animation: buttonClicked;
    animation-duration:  400ms;
}

@keyframes buttonClicked {
    0% {
        transform: translateY(0px);
    }

    40% {
        background-color: var(--fourth-color);
        transform: translateY(4px);
    }

    100% {
        background-color: var(--fourth-color);
        transform: translateY(0px);
    }
}

.difficultyGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.difficultySwitch {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--first-color);
}

.easy,
.medium,
.hard {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border: solid 1px var(--third-color);
    z-index: 2;
}

.easy {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

.hard {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}

.easy svg,
.medium svg,
.hard svg {
    height: 22px;
    width: 22px;
    padding: 0px 4px;
}

.easy path {
    fill: var(--first-color);
    stroke:var(--first-color);
}

.difficultySelector {
    pointer-events: none;
    position: absolute;
    background-color: var(--third-color);
    height: 100%;
    width: 100px;
    top: 0px;
    left: 0px;
    border-radius: 10px 0px 0px 10px;
    z-index: 1;
}

.board {
    width: 360px;
    height: auto;
    margin: 5em auto;
    display: none;
    flex-wrap: wrap;
}
  
.row {
    display: flex;
    width: 100%;
}
  
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    color: var(--eighth-color);
}

.cell path {
    height: 100px;
    width: 100px;

}

.oMarker path,
.xMarker path{
    stroke: var(--fourth-color);
    fill: var(--fourth-color);
}

.cell:not(:nth-child(3n)) {
    border-right: 5px solid var(--third-color);
}
  
  .row:not(:last-child) {
    border-bottom: 5px solid var(--third-color);
  }

.resetButton {
    display: none;
    cursor: pointer;
}

.notArrow {
    fill: none;
    stroke-width: 3px;
}

.winner {
    height: auto;
    font-size: 36px;
    color: var(--fourth-color);
    font-weight: 700;
}